* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// OZGARUVCHILARNI TAYINLASH QISMI

$text-color: #292830;
$black: #000;
$backgroun: $backgroun;
$white: #fff;
$link-color: #bdbdbd;
$general-font: Hind Siliguri;
$transition: all 0.3s ease;
$medium-size: 24px;
$little-size: 16px;
$tittle-size: 18px;
$facebook: brightness(0) saturate(100%) invert(32%) sepia(88%) saturate(2659%)
  hue-rotate(190deg) brightness(100%) contrast(89%);
$google: brightness(0) saturate(100%) invert(32%) sepia(88%) saturate(2659%)
  hue-rotate(190deg) brightness(100%) contrast(89%);
$coca-cola: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(743%)
  hue-rotate(-37deg) brightness(105%) contrast(102%);
$linkedin: brightness(0) saturate(100%) invert(21%) sepia(73%) saturate(757%)
  hue-rotate(-147deg) brightness(104%) contrast(93%);
$samsung: brightness(0) saturate(100%) invert(32%) sepia(85%) saturate(1500%)
  hue-rotate(180deg) brightness(100%) contrast(100%);
// ANIMATSIYA SECTION
img {
  cursor: pointer;
}

input:focus {
  outline: none;
  border: none;
}
button {
  border: none;
  transition: $transition;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

a {
  text-decoration: none;
  transition: $transition;
  cursor: pointer;

  &:hover {
    text-decoration: underline solid $black;
    color: $black;
    list-style: disc;
  }
}

li {
  list-style: none;
  transition: $transition;
  cursor: pointer;

  &:hover {
    list-style: disc;
  }

  &::marker {
    color: red;
  }
}

// HEADER SECTION

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 38px;
  margin-bottom: 108px;

  ul {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-family: $general-font;
      font-size: $tittle-size;
      font-weight: 400;
      line-height: 17.1px;
      text-align: left;
      color: $black;
    }
  }

  button {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid $backgroun;
    font-family: $general-font;
    font-size: $tittle-size;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;
    color: $backgroun;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// HERO SECTION

.hero__container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding-bottom: 158px;

  h1 {
    font-family: $general-font;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: $text-color;
    width: 540px;
    height: 288px;
  }

  p {
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: $link-color;
    margin-top: -40px;
    margin-bottom: 40px;
  }
}

.hero-left-bot {
  display: flex;
  align-items: center;
  gap: $medium-size;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    width: 225px;
    height: 75px;
    border-radius: 8px;
    background: $backgroun;

    color: $white;
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
  }

  a {
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: $link-color;
  }
}

// MAIN SECTION

.main {
  background-color: $backgroun;

  .main__container {
    background-image: url("../images/Blob.png");
    background-repeat: no-repeat;
    width: 1100px;
    height: 712px;

    padding-top: 115px;
    padding-left: 50px;
    padding-right: 165px;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// ARTICLE SECTION

.article__container {
  display: flex;
  align-items: center;
  gap: 108px;
  justify-content: center;
  padding-top: 82px;
  padding-bottom: 66px;
  .facebook {
    &:hover {
      filter: $facebook;
    }
  }
  .google {
    &:hover {
      filter: $google;
    }
  }

  .coca-cola {
    &:hover {
      filter: $coca-cola;
    }
  }
}

.linkedin {
  &:hover {
    filter: $linkedin;
  }
}
.samsung {
  &:hover {
    filter: $samsung;
  }
}

// INFO SECTION

.info__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: $general-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: $link-color;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: $general-font;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: $text-color;

    margin-top: $medium-size;
    margin-bottom: $medium-size;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: $link-color;
    margin-bottom: $medium-size;
  }
}

.info-left {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: $medium-size;
    text-align: left;
    color: $backgroun;
  }
}

// SAVE SECTION

.save {
  background-color: #fffaf8;
}

.save__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: $general-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: $link-color;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: $general-font;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: $text-color;

    margin-top: $medium-size;
    margin-bottom: $medium-size;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: $link-color;
    margin-bottom: $medium-size;
  }
}

.save-right {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: $medium-size;
    text-align: left;
    color: $backgroun;
  }
}

// NEED SECTION

.need__container {
  padding: 141px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;

  h6 {
    font-family: $general-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;
    color: $link-color;
  }

  h2 {
    width: 540px;
    height: 288px;

    font-family: $general-font;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    color: $text-color;

    margin-top: $medium-size;
    margin-bottom: $medium-size;
  }

  p {
    width: 540px;
    height: 117px;
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
    color: $link-color;
    margin-bottom: $medium-size;
  }
}

.need-left {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 400;
    line-height: $medium-size;
    text-align: left;
    color: $backgroun;
  }
}

// WORK SECTION

.work__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  padding: 139px 0;

  .work-top {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    h2 {
      width: 730px;
      height: 192px;
      font-family: $general-font;
      font-size: 96px;
      font-weight: 700;
      line-height: 96px;
      text-align: left;
      color: $text-color;
      display: inline-block;
    }

    p {
      width: 350px;
      height: 156px;
      color: $link-color;
      font-family: $general-font;
      font-size: $medium-size;
      font-weight: 400;
      line-height: 38.81px;
      text-align: left;
      display: inline-block;
    }
  }
}

.work-bottom {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  .work-templet {
    width: 350px;
    height: 350px;
    border-radius: 12px;
    background: #fff;
    transition: $transition;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &:hover {
      box-shadow: 0px 0px 50px 0px #0000000a;
    }

    button {
      width: 64px;
      height: 64px;
      background: #ffbd740d;
      border-radius: 50%;
    }
  }

  .work-fail {
    box-shadow: 0px 0px 50px 0px #0000000a;
  }
}

.work-templet {
  h3 {
    font-family: $general-font;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: $black;

    margin-top: $medium-size;
    margin-bottom: 12px;
  }

  p {
    width: 220px;
    height: 46px;
    font-family: $general-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: center;
    color: $link-color;
    margin-bottom: $medium-size;
  }
  &:hover {
    transform: scale(1.05);
  }
}

// PLAN SECTION

.plan {
  background-color: #fffaf8;

  h2 {
    width: 1100px;
    height: 72px;
    font-family: "Hind Siliguri";
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
  }
}

.plan__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: $medium-size;
  gap: 80px;
  justify-content: center;
  .plan-top {
    font-family: $general-font;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    height: 72px;
    color: $text-color;
  }
  .plan-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .paid {
      width: 350px;
      height: 500px;
      border-radius: 12px;
      background: #ffffff;
      border: 1px solid #f5f5f5;
      padding: 41px 100px 60px 40px;
      box-shadow: 0px 0px 50px 0px #0000000a;
    }
  }
}
.paid {
  h3 {
    width: 190px;
    height: 52px;
    font-family: $general-font;
    font-size: 32px;
    font-weight: 600;
    line-height: 51.74px;
    text-align: left;
    color: $text-color;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .paid-href {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 103px;
    gap: 8px;
    margin-bottom: $medium-size;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: $general-font;
      font-size: $tittle-size;
      font-weight: 400;
      line-height: 29.11px;
      text-align: left;
      color: $text-color;
    }
  }
}

.paid {
  transition: all 1s ease;
  h4 {
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 600;
    line-height: 38.81px;
    text-align: left;
    color: $text-color;
  }

  h6 {
    font-family: Hind Siliguri;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.4px;
    text-align: left;
    color: $link-color;
  }

  button {
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 136px;
    height: 50px;
    background: $white;
    border-radius: 8px;
    border: 1px solid $backgroun;
    color: $backgroun;
    font-family: Hind Siliguri;
    font-size: $little-size;
    font-weight: 400;
    line-height: 25.87px;
    text-align: left;
  }

  .get-btn {
    border: 1px solid $backgroun;
    background: $backgroun;
    color: $white;
  }

  &:hover {
    transform: scale(1.1);
  }
}

// LAST SECTION
.last {
  background-color: $backgroun;
}
.last__container {
  background-image: url("../images/Blob.png");
  background-repeat: no-repeat;
  width: 1100px;
  height: 712px;

  display: flex;
  align-items: center;
  flex-direction: column;

  .last-top {
    padding-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      width: 920px;
      height: 144px;
      font-family: $general-font;
      font-size: 72px;
      font-weight: 700;
      line-height: 72px;
      text-align: center;
      color: $white;
    }
  }

  .last-bottom {
    background-image: url("../images/last-bac-img.png");
    background-repeat: no-repeat;
    margin-top: -80px;
    width: 1050px;
    height: 340.23px;
    padding: 10px;
  }
}

.last-top {
  h3 {
    width: 920px;
    height: 36px;
    font-family: $general-font;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: $white;
    margin-top: $medium-size;
    margin-bottom: 60px;
  }

  button {
    width: 213px;
    height: 60px;
    justify-content: center;
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    z-index: 1000;
    background-color: $white;

    font-family: $general-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 20.9px;
    text-align: left;
    color: $backgroun;
  }
}

// FOOTER SECTION

.footer__container {
  padding-top: 80px;
  padding-bottom: 90px;

  display: flex;
  flex-direction: column;

  .footer-top {
    display: flex;
    justify-content: center;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footer-bottom-left {
      display: flex;
      align-items: center;
      gap: $medium-size;
    }
  }
}

.footer-top {
  display: flex;
  gap: 150px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 300px;

  button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroun;
    border-radius: 50%;

    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 700;
    line-height: 22.8px;
    text-align: left;
    color: $white;
  }

  h5 {
    font-family: $general-font;
    font-size: 23px;
    font-weight: 500;
    line-height: 21.85px;
    text-align: left;
    color: $text-color;
  }
}

.footer-link {
  h6 {
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 500;
    line-height: 38.81px;
    text-align: left;
    color: $text-color;
    margin-bottom: $medium-size;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      font-family: $general-font;
      font-size: $tittle-size;
      font-weight: 500;
      line-height: 29.11px;
      text-align: left;
      color: $text-color;
    }
  }
}

.footer-blok {
  h6 {
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 500;
    line-height: 38.81px;
    text-align: left;
    color: $text-color;
    margin-bottom: $medium-size;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      font-family: $general-font;
      font-size: $tittle-size;
      font-weight: 500;
      line-height: 29.11px;
      text-align: left;
      color: $text-color;
    }
  }
}

.footer-input {
  width: 349px;
  height: 208px;
  display: flex;
  flex-direction: column;

  h6 {
    font-family: $general-font;
    font-size: $medium-size;
    font-weight: 500;
    line-height: 38.81px;
    text-align: left;
    margin-bottom: $medium-size;
    color: $text-color;
  }

  a {
    font-family: $general-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: left;
    color: $link-color;
    margin-top: 10px;
  }
}

.footer-input {
  h5 {
    font-family: $general-font;
    font-size: 20px;
    font-weight: 400;
    line-height: 32.34px;
    text-align: left;
    margin-bottom: $tittle-size;
    color: $link-color;
  }

  .footer-submit {
    width: 349px;
    height: 62px;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $text-color;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    button {
      width: 102px;
      height: 48px;
      background-color: $backgroun;
      border-radius: 8px;

      font-family: $general-font;
      font-size: $little-size;
      font-weight: 600;
      line-height: 25.87px;
      text-align: left;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      border: none;
      font-family: $general-font;
      font-size: $tittle-size;
      font-weight: 400;
      line-height: 29.11px;
      text-align: left;
      color: $text-color;
      width: 200px;
      height: 40px;
      padding-left: 10px;
    }
  }
}

.footer-input input:focus {
  outline: none;
  border: none;
}

.footer-bottom {
  border-top: 3px solid #bdbdbd33;
  height: 150px;
}
.footer-bottom-left {
  a {
    font-family: $general-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: left;
    color: $text-color;
  }
}

.footer-bottom-center {
  a {
    font-family: $general-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: left;
    color: $text-color;
  }
}

.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 1140px) {
  .container {
    padding: 30px;
  }

  /* HERO SECTION */
  .hero__container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
  }

  .hero-right img {
    width: 480px;
    height: 420px;
    &::-webkit-scrollbar
  }

  .hero-left h1 {
    font-family: "Hind Siliguri";
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: #292830;
    width: 520px;
    height: 244px;
    margin-bottom: 100px;
  }

  .hero-left button {
    width: 200px;
    height: 65px;
    border-radius: 8px;
    background: $backgroun;

    color: white;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;
  }

  /* MAIN SECTION */

  .main__container img {
    width: 1000px;
    height: 550px;
    margin-top: 75px;
  }

  /* ARTICLE SECTION */

  .article__container {
    display: flex;
    align-items: center;
    gap: 98px;
    justify-content: center;
  }

  /* INFO SECTION */
  .info__container {
    padding: 110px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
  }

  .info-right img {
    width: 480px;
    height: 420px;
  }

  .info-left h2 {
    width: 440px;
    height: 244px;

    font-family: "Hind Siliguri";
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  .info-left p {
    width: 410px;
    height: 90px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 34px;
  }

  .info-left h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .info-left a {
    font-size: 18px;
  }

  /* SAVE SECTION */
  .save__container {
    padding: 110px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
  }

  .save-left img {
    width: 480px;
    height: 420px;
  }

  .save-right h2 {
    width: 440px;
    height: 244px;

    font-family: "Hind Siliguri";
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  .save-right p {
    width: 410px;
    height: 90px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 34px;
  }

  .save-right h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .save-right a {
    font-size: 18px;
  }

  /* NEED QISMI */

  .need__container {
    padding: 110px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
  }

  .need-right img {
    width: 480px;
    height: 420px;
  }

  .need-left h2 {
    width: 460px;
    height: 244px;

    font-family: "Hind Siliguri";
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: #292830;

    margin-top: 24px;
    margin-bottom: 24px;
  }

  .need-left p {
    width: 410px;
    height: 90px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 34px;
  }

  .need-left h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .need-left a {
    font-size: 18px;
  }

  /* PLAN SECTION */
  .plan-top h2 {
    width: 1000px;
    height: 65px;
    font-family: "Hind Siliguri";
    font-size: 60px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #292830;
  }

  .paid {
    width: 300px;
    height: 4500px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #f5f5f5;
    padding: 39px 92px 54px 38px;
    box-shadow: 0px 0px 50px 0px #0000000a;
  }

  /* LAST QISMI */
  .last__container h3 {
    width: 820px;
    height: 36px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
  }

  .last__container button {
    width: 180px;
    height: 50px;
    gap: 7px;
    border-radius: 5px;
    font-size: 18px;
  }

  .last__container button img {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 30px;
  }

  /* HEADER SECTION */
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  /* HERO SECTION */
  .hero__container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }

  .hero-right img {
    width: 420px;
    height: 360px;
  }

  .hero__container h1 {
    font-size: 60px;
    line-height: 50px;
    width: 450px;
    height: 200px;
    margin-bottom: 10px;
  }

  .hero-left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }

  .hero-left button {
    width: 160px;
    height: 55px;
    border-radius: 5px;
    background: $backgroun;

    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .hero-left a {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }

  /* MAIN SECTION */

  .main {
    background-image: none;
    background-color: $backgroun;
    .main__container {
      position: relative;
      background-image: none;
    }
  }

  .main__container img {
    width: 900px;
    height: 500px;
    margin-top: 100px;
  }

  /* ARTICLE SECTION */
  .article__container img {
    width: 110px;
    height: 30px;
    margin: 0 auto;
  }
  /* INFO SECTION */
  .info-right img {
    width: 380px;
    height: 310px;
  }

  .info-left h2 {
    width: 350px;
    margin-top: 6px;
    height: 204px;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: -40px;
  }

  /* SAVE SECTION */
  .save__container {
    background-color: #fffaf8;
  }

  .save-left img {
    width: 380px;
    height: 310px;
  }

  .save-right h2 {
    margin-top: 6px;
    width: 330px;
    height: 204px;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: -40px;
  }

  /* NEED SECTION */
  .need-right img {
    width: 380px;
    height: 310px;
  }

  .need-left h2 {
    width: 350px;
    margin-top: 6px;
    height: 204px;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: -40px;
  }

  /* WORK SECTION */

  .work-top h2 {
    width: 440px;
    height: 204px;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    color: #292830;
  }

  .work-top {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .work-top p {
    width: 290px;
    height: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .work-bottom {
    margin-top: -100px;
  }

  /* PLAN SECTION */
  .plan__container {
    background-color: #fffaf8;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .paid {
    width: 280px;
    height: 400px;
    border-radius: 8px;
  }

  .plan__container .plan-bottom {
    display: grid;
  }

  .plan-bottom .paid {
    width: 330px;
    height: 500px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #f5f5f5;
    padding: 40px 70px 40px 70px;
  }

  /* LAST SECTION */
  .last__container {
    background: $backgroun;
    width: 990px;
  }

  .last-top h2 {
    width: 600px;
    height: 100px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;

    margin-bottom: -4px;
  }

  .last-top h3 {
    width: 600px;
    height: 100px;
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: -20px;
  }

  .last-bottom {
    max-width: 992px;
    background-image: url(../images/last-bac-img.png);
    background-repeat: no-repeat;
    margin-top: -80px;
    width: 992px;
    height: 340.23px;
    background-position-x: -100px;
  }

  // FOTER SECTION
  .footer__container .footer-top {
    display: flex;
    gap: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
  /* HEADER SECTION */
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__container button {
    width: 140px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid $backgroun;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
  }

  .header-center ul {
    gap: 20px;
  }

  .header-center a {
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
  }

  .header-logo img {
    width: 80px;
    height: 30px;
  }

  /* HERO SECTION */
  .hero-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .hero-left h1 {
    font-size: 40px;
    width: 500px;
    height: 288px;
    text-align: center;
    margin-bottom: -150px;
  }

  .hero__container button {
    width: 140px;
    height: 45px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .hero__container button img {
    width: 18px;
    height: 18px;
  }

  .hero-right img {
    width: 400px;
    height: 320px;
  }

  .hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  /* MAIN SECTION */
  .main {
    background-image: none;
    background-color: #fff;

    .main__container {
      background-image: none;
      position: relative;
    }
  }

  .main__container img {
    width: 700px;
    position: absolute;
    top: 30px;
  }

  /* ARTICLE SECTION */

  .article__container {
    display: grid;
  }

  /* INFO SECTION */
  .info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .info-left h2 {
    width: 380px;
    margin-top: 6px;
    height: 204px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: -100px;
    text-align: center;
  }

  .info-left p {
    width: 410px;
    height: 90px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 4px;
  }

  .info-left a {
    font-size: 14px;
  }

  .info-left a img {
    width: 16px;
    height: 16px;
  }

  .info-right img {
    width: 320px;
    height: 260px;
  }

  /* SAVE SECTION */

  .save__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }

  .save {
    background-color: #fff;
  }

  .save-right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .save-right h2 {
    width: 380px;
    margin-top: 6px;
    height: 204px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: -100px;
    text-align: center;
  }

  .save-right p {
    width: 410px;
    height: 90px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 4px;
  }

  .save-right a {
    font-size: 14px;
  }

  .save-right a img {
    width: 16px;
    height: 16px;
  }

  .save-left img {
    width: 320px;
    height: 260px;
  }

  /* NEED SECTION */
  .need__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .need-left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .need-left h2 {
    width: 380px;
    margin-top: 6px;
    height: 204px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: -100px;
    text-align: center;
  }

  .need-left p {
    width: 410px;
    height: 90px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 4px;
  }

  .need-left a {
    font-size: 14px;
  }

  .need-left a img {
    width: 16px;
    height: 16px;
  }

  .need-right img {
    width: 320px;
    height: 260px;
  }

  /* WORK SECTION */
  .work__container {
    display: grid;
    gap: 100px;
    align-items: center;

    .work-top {
      display: grid;
    }

    .work-top h2 {
      width: 380px;
      margin-top: 6px;
      height: 204px;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: -150px;
      text-align: center;
    }
    .work-top p {
      width: 410px;
      height: 90px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      margin-bottom: 4px;
    }
  }

  .work-top {
    display: grid;
  }

  .work-top h2 {
    width: 380px;
    margin-top: 6px;
    height: 204px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: -150px;
    text-align: center;
  }

  .work-top p {
    width: 410px;
    height: 90px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 4px;
  }

  .work-bottom {
    display: grid;
    gap: 30px;
  }

  /* PLAN SECTION */
  .plan__container {
    background-color: #fff;
  }

  .plan-top h2 {
    width: 380px;
    margin-top: 6px;
    height: 204px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: -150px;
    text-align: center;
  }

  .plan-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .paid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* LAST SECTION */

  .last__container {
    width: 700px;
    background-image: none;
    display: flex;
    justify-content: center;

    .last-top h2 {
      width: 530px;
      height: 152px;
      font-family: "Hind Siliguri";
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
      color: #fff;
      display: inline-block;
    }
  }

  .last-bottom {
    display: none;
  }

  .last-top h2 {
    width: 380px;
    height: 204px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: -80px;
  }

  .last-top h3 {
    width: 200px;
    height: 90px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: -20px;
  }

  .last-top button {
    width: 130px;
    height: 40px;
    gap: 4px;
    border-radius: 2px;
    font-size: 12px;
  }

  .last-top button img {
    width: 14px;
    height: 14px;
  }

  /* FOOTER SECTION */
  .footer-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }

  .footer-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer-link a {
    font-size: 14px;
    text-align: center;
  }

  .footer-input {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 40px;
  }

  // HAEDER SECTION
}
